
{% extends 'base.html' %}
{% block title %}
О нас
{% endblock %}

{% block main %}
    
    <div class="site-section-cover">
      <div class="container">
        <div class="row align-items-center text-center justify-content-center">
          <div class="col-lg-6">
            <h1 class="text-white mb-4">О нас</h1>
            <p class="lead"></p>
            
          </div>
        </div>
      </div>
    </div>


    <div class="site-section about-me">
     <div class="container">
       <div class="row align-items-center">
         <div class="col-md-6 mb-5 mb-md-0">
           <img src="../static/images/img_5.jpg" alt="Image" class="img-fluid">
         </div>
         <div class="col-md-5 ml-auto">
           <h2 class="text-dark mb-5 font-weight-bold">Кто мы?</h2>
           
           <p>Добро пожаловать на наш сайт, посвященный выпускным альбомам! Мы — команда увлеченных профессионалов, которые верят, что каждый выпускной момент заслуживает того, чтобы быть запечатленным и сохраненным на долгие годы.</p>
           <p>Наш девиз: Шаг за шагом к успеху в Фотоделе! У нас Вы можете не только заказать разнообразные подарки для родных и близких, либо друзей, а и воплотить свою уникальную идею в реальность.</p>
           

           <div class="social_29128 mt-5">
            <a href="#"><span class="icon-facebook"></span></a>  
            <a href="#"><span class="icon-instagram"></span></a>  
            <a href="#"><span class="icon-twitter"></span></a>  
           </div>
         </div>
       </div>
     </div>
   </div>

    
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col">
            <h2 class="text-dark font-weight-bold">Наши услуги</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-29191">

              <img src="../static/images/services/portret.jpg" class="mb-3" width="100%" alt="">
              <h3 class="mb-3">Портретная фотосессия</h3>
              <p>Такая фотосессия — ваше кредо. Это то, какая вы в жизни, только чуточку лучше. Портретную фотосессию можно проводить в студии, на улице, в кафе или дома. Это может быть бизнес портрет делового человека.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-29191">
              <img src="../static/images/services/lifestyle.jpg" class="mb-3" width="100%" alt="">

              <h3 class="mb-3">LIFESTYLE</h3>
              <p>«Lifestyle» в переводе с английского означает стиль жизни. Если очень просто, то фотограф проводит с вами какое-то продолжительное время (полдня, день, несколько дней), чтобы заснять самые яркие моменты вашей жизни.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-29191">
              <img src="../static/images/services/love.jpg" class="mb-3"  width="100%" alt="">

              <h3 class="mb-3">LOVESTORY</h3>
              <p>Это фотосессия, красной нитью через идею которой проходят любовь, страсть, романтика, нежность, уважение. Чаще всего в такой съемке принимают участие двое: ОН и ОНА. Это ваша личная, интимная любовная история, которую предстоит воссоздать фотографу. Тут главное не стесняться, чтобы фотографии получились искренними и настоящими.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
   
    {% endblock %}
    
  